.posts {
  margin: 50px 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.card {
  z-index: 5;
  background-color: white;
  border: 2px solid teal;
  border-radius: 10px;
  display: flex;
  position: relative;

  margin: 20px auto;
  box-shadow: 2px 2px 10px 2px slategrey;
  cursor: pointer;
}
.card a {
  display: flex;
  text-decoration: none;
  overflow: hidden;
}
.leading{
  overflow: hidden;
}
.leading img {
  max-width: 350px;
  max-height: 250px;
  object-fit: scale-down;
  overflow: hidden;
}
.card {
  text-decoration: none;
}
.location-p {
  color: black;
}
.post-title {
  color: teal;
}
.trailing {
  padding: 10px 20px;
  padding-bottom: 20px;
  text-align: left;
  position: relative;
}
.post-price {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff6300;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: 500;
}
.desc {
  color: slategrey;
}
.fa-map-marker-alt {
  padding-right: 10px;
}
.fav {
  z-index: 0;
  bottom: 5%;
  left: 5%;
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  padding: 10px;
  
  cursor: pointer;
  border: none;
}
.fav i{
  transform: translate(-5%,10%);
}
.isfav{
  color: teal;
}
.fav:focus{
  outline: none;
}
@media (max-width: 550px) {
  .leading img {
    max-width: 180px;
    max-height: 130px;
  }
}

@media (max-width: 400px) {
  .leading img {
    max-width: 100px;
    max-height: 70px;
  }
}
@media (max-width: 1200px) {
  .posts {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* myPosts's styling */

.edit {
  z-index: 0;
  bottom: 5%;
  left: 20%;
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 2%;
  border: none;
  cursor: pointer;
}

.delete {
  cursor: pointer;
  bottom: 5%;
  left: 5%;
  z-index: 0;
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 2%;
  border: none;
}
.card button:active {
  outline: none;
}
.profile-box{
  margin: 20px 20vw;
  display: flex;
  flex-direction: column;
}
.profile-box input{
  width: 100%;
  padding: 5px 10px;
  margin: 10px 0;
}
h2{
  cursor: pointer;
  padding-top: 30px;
}
#form{
  display: none;
}
#form.show{
  display: block;
}