<div class="nav-bar">
  <ul class="nav-bar-list">
    <li class="nav-bar-item">
    <a <% if( pageTitle==="Posts"){ %>class= "active" <% } %> href="/">Home</a>
    </li>
    <li class="nav-bar-item">
      <a <% if( pageTitle==="SignUp"){ %>class= "active"<% }%> href="/auth/newUser">SignUp</a>
    </li>
    <li  class="nav-bar-item">
      <a <% if( pageTitle==="Log In"){ %>class= "active"<% }%> href="#">Log In</a>
    </li>
  </ul>
  <ul class="nav-bar-list-small">
      <button id="menu-toggle">
        <i class="fa fa-bars fa-2x"></i>
      </button>
  </ul>
  <div id="side-bar" class="side-bar">
   <ul class="nav-bar-mobile-list">
    <li class="nav-bar-item">
      <a <% if( pageTitle==="Posts"){ %>class= "active"<% } %>  href="/">Home</a>
    </li>
    <li class="nav-bar-item">
      <a <% if( pageTitle==="SignUp"){ %>class= "active"<% }%> href="/auth/newUser">SignUp</a>
    </li>
    <li class="nav-bar-item">
      <a <% if( pageTitle==="Log In"){ %>class= "active"<% }%> href="#">Log In</a>
    </li> 
  </div>
  </ul>
</div>
