<div class="nav-bar">
  <ul class="nav-bar-list">
    <li class="nav-bar-item">
      <a active href="/">Home</a>
    </li>
    <li class="nav-bar-item">
      <a href="auth/newUser">SignUp</a>
    </li>
    <li class="nav-bar-item">
      <a href="#">Log in</a>
    </li>
  </ul>
  <ul class="nav-bar-list-small">
      <button id="menu-toggle">
        <i class="fa fa-bars fa-2x"></i>
      </button>
  </ul>
  <div id="side-bar" class="side-bar">
   <ul class="nav-bar-mobile-list">
    <li class="nav-bar-item">
      <a active href="/">Home</a>
    </li>
    <li class="nav-bar-item">
      <a href="auth/newUser">SignUp</a>
    </li>
    <li class="nav-bar-item">
      <a href="#">Log in</a>
    </li> 
  </div>
  </ul>
</div>
